// Ensure header styles remain the same
.site-header {
  height: $header-thickness;

  width: $container-width;
  position: fixed;
  
  //background-color: rgba(22, 171, 94, 0.221);
  
  box-shadow: 0 5px 6px -6px #bbb;
  z-index: 100;

  margin-left: auto;
  margin-right: auto;
  

  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  
  top: 10px;
  left: 0;
  right: 0;

  box-sizing: border-box; //This makes the size to true size, if not the content size is taken.

  @media (max-width: $container-width) {
    width: 95vw;

  }
  @media (max-width: 768px) {
    width: 95vw;

  }

  @media (max-width: 480px) {
    width: 100vw;
  }
}




.menu-icon-container, .site-title-container {
  display: flex;
  align-items: center;
}
.menu-icon-container {
  //background-color: aqua;
  
  justify-content: flex-start;
  flex: 1;

  height: 100%;
  overflow: hidden; 
}
.site-title-container {
  //background-color: rgb(223, 226, 43);
  
  overflow: hidden;
  height: 100%;

  flex: 2;
  justify-content: flex-end;
  //border: 2px solid red;  

}
.site-branding{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  //border: 2px solid red;  
}
.site-branding img{
  height: 100%;
  width: auto;
  object-fit: contain;
  display: block; 

}
// Styles for mobile menu toggle button
.menu-toggle {
  background: none;
  border: none;
  color: black;
  font-size: 30px;
  cursor: pointer;
}



///////////////////////////////////////////
// Fullscreen menu styles
.full-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(171, 0, 57, 0.94); // Dark overlay
  display: none; // Initially hidden
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.full-menu .menu-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.full-menu .menu-link {
  color: white;
  font-size: 24px;
  margin: 10px 0;
  text-decoration: none;
}

.full-menu .menu-link:hover {
  text-decoration: underline;
}

// Close button for the menu
.menu-close {
  display:flex
  justify-content: flex-start;
  left: 40px;
  top: 40px;
  font-size: 28px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;

  border: 2px solid red;
  width: $container-width
  @media (max-width: $container-width) {
    width: 95vw;

  }
  @media (max-width: 768px) {
    width: 95vw;

  }

  @media (max-width: 480px) {
    width: 100vw;
  }
}

@media (max-width: $container-width) {
  .menu-list {
    display: none; // Hide default menu on small screens
  }
}